<div class="d-flex flex-column bd-highlight mb-8">
   <% @article.comments.each do |comment| %>
      <% comment_user = comment.user %>
        <!--<div class="d-flex mr-4">-->
        <div class="row">
    		<%= attachment_image_tag comment.user, :profile_image, :fill, 70, 70, fallback: "no_image.jpg", size: "70x70",class:"mt-3 rounded-circle"; %>
    		<h5><%= comment.user.nickname %></h5>
    	</div>
    		<p><%= comment.body %><p>

    		          <div class="row">
    		            <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
  	                      <% if current_user == comment_user %>
    	                     <%= link_to article_comment_path(comment.article_id, comment.id), method: :delete, remote: true do %>
    	                     <i class="fas fa-trash-alt fa-lg px-2" style="color:dimgray;"></i>
    	                     <% end %>
  	                      <% end %>
                      </div>
   <% end %>
</div>

