<div class="container">
      <!-- Page Heading -->
      <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>
      <hr>
      <!-- Project One -->
      <% @bookmarks.each do |bookmark| %>
      <div class="row">
        <%= link_to article_path(bookmark) do %>
        <div class="col-md-6">
            <%= attachment_image_tag bookmark.article, :image, fallback: "no_image.jpg", size:'500x280', class:"rounded"; %>
        </div>
        <%end%>
        <div class="col-md-5">
          <h3><%= bookmark.article.title %></h3>
          <p><%= bookmark.article.body%></p>
          <p class="pt-5">
            <%= attachment_image_tag bookmark.user, :profile_image, :fill, 60, 60, fallback: "no_image_icon.jpg",size:'60x60',class:"rounded-circle";%>
            <%= bookmark.article.user.nickname %>
          </p>
          <p class="pt-4">
              <%= render partial: 'articles/bookmark_area', locals: {bookmarks: @bookmarks } %>
          </p>
        </div>
      </div>
      <% end %>
      <hr>
</div>
