<div class="container pb-3">

      <h3 class="pt-4">Bookmark</h3>
      <hr>

      <% @bookmarks.each do |bookmark| %>
      <div class="row">
        <%= link_to article_path(bookmark.article_id) do %>
        <div class="col-md-6">
            <%= attachment_image_tag bookmark.article, :image, fallback: "no_image.jpg", size:'500x280', class:"rounded"; %>
        </div>
        <%end%>
        <div class="col-md-5">
          <h4><%= bookmark.article.title.truncate(15) %></h4>
          <p><%= bookmark.article.body.truncate(200) %></p>
          <p>
            <%= attachment_image_tag bookmark.user, :profile_image, :fill, 60, 60, fallback: "no_image_icon.jpg",size:'60x60',class:"rounded-circle";%>
            <%= bookmark.article.user.nickname %>
          </p>
        </div>
      </div>
      <hr>
      <% end %>
</div>