<div class='container-fluid p-5'>
  <div class='row'>
    <div class="ol-md-9 col-lg-9 px-5 px-sm-0 mx-auto">
  		<h3>記事編集</h3>
    	<hr>
  		<%= form_for @article, url: article_path do |f| %>

             <div class="form-group">
               <h5>イメージ画像</h5>
               <%= f.attachment_field :image %>
               <h5><%= f.label :category, 'カテゴリ' %></h5>
               <%= f.collection_select :category_ids, Category.all, :id, :name, :include_blank => "カテゴリを選択してください" %>
               <h5>タイトル</h5>
               <%= f.text_field :title,size: "20x10",class: "form-control" %>
               <h5>内容</h5>
               <%= f.text_area :body,size: "30x20", class: "form-control" %>
             </div>
             <br>
             <%= f.hidden_field :id %>
            <%= f.submit "       投稿を編集する      ", class: 'btn btn-primary'%>
         <% end %>
         <br>
  		<%= link_to '記事へ', article_path(@article),class: 'btn btn-secondary'%>
  		<%= link_to '一覧へ戻る', articles_path,class: 'btn btn-secondary'%>
  </div>
 </div>
</div>