<div class="container-fluid bg-light py-5">
 <div class="columns is-multiline">
  <div class="row">
       
       <div class='col-md-3'>
         <div class="my-box w-35 border">
            <ul class="list-group">
               <li class="list-group-item">Normal item</li>
               <li class="list-group-item">Active item1</li>
               <li class="list-group-item">Disabled item2</li>
            </ul>
         </div>
        </div>
     
     <div class="col-md-8 offset-md-1">
      <div class="d-flex flex-wrap ">
        <% @articles.each do |article| %>
          <div class="my-box w-25 border">
            <%= attachment_image_tag article, :image, fallback: "no_image.jpg", size:'230x230' %>
            <%= image_tag('') %>
           <div class = col-3>
            <h3><%= article.title %></h3><br />
            </div>
           <div class = col-6>
            <%= link_to "      詳細      ", article_path(article), class: "btn btn-outline-secondary" %><br />
            <p><%= link_to "#{article.comments.count} コメント", article_path(article.id) %></p>
           </div>
              <div class = "border-top" >
                 <div class = col-3>
                    <%= attachment_image_tag article.user, :profile_image, fallback: "no_image_icon.jpg", size:'60x60', class:"mt-3 rounded-circle"; %>
                    <p class= "text-center"><%= article.user.nickname %></p>
                 </div>
              </div>
          </div>
         
            
        <% end %>
      </div>
      
     </div>  
   </div>
  </div>
</div>




      
