<div class="container-fluid bg-light py-4">
 <div class="columns is-multiline">
  <div class="row">
     <div class="col-md-3"></div>
     <div class="col-md-8">
       
      <div class="d-flex flex-wrap ">
        <% @articles.each do |a| %>
          <div class="my-box w-25 border">
          <%= attachment_image_tag a, :image, :fill, 230, 160, fallback: "" %>
          <%= image_tag('') %>
          <h3><%= a.title %></h3><br />
          <h6><%= a.body %></h6><br />
          <%= link_to "詳細", articles_path, class: "btn btn-outline-secondary mt-2" %>
          </div> 
        <% end %>
      </div>
      
     </div>  
   </div>
  </div>
</div>