<div class="container pt-5">
  <div class="row">
    <div class="col-md-8">
       <div class="swiper-container">
           <!--最新の投稿から順に１０件を表示-->
           <h4>New！</h4>
        <div class="swiper-wrapper">
          <% @newarticles.each do |article| %>
             <div class="swiper-slide">
                  <%= link_to article_path(article) do %>
                  <%= attachment_image_tag article, :image, fallback: "no_image.png",size:"300x230", class:"rounded"; %>
                  <h5 class="card-title"><%= article.title.truncate(15) %></h5>
                  <% end %>
                  <p class="card-text"><%= article.body.truncate(75) %></p>
             </div>
          <% end %>
        </div>
           <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
       </div>
    </div>

   <div class="col-md-4">
       <div class="rank" >
    　　     <% @all_ranks.each.with_index(1) do |article, i|%>
         <h5 class="card-header">
         第 <%= i %> 位
         <%= article.user.nickname %>さん
         <i class="fas fa-heart" style="color:orangered;"><%= article.favorites.count%></i>
         </h5>
            <div class="card shadow-lg">
                <%= link_to article_path(article) do %>
                <%= attachment_image_tag article, :image,:fill, 60,60, fallback: "no_image.png",size:"60x60", class:"rounded"; %>
                <%= article.title %>
                <% end %>
　          </div>
         <% end %>
      </div>
   </div>

　</div>
<div class="container pb-5">
<hr>

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#2F4F4F;">
     <button class="navbar-toggler" type="button"
        data-toggle="collapse"
        data-target="#navmenu1"
        aria-controls="navmenu1"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
  <div class="collapse navbar-collapse" id="navmenu1">
    <div class="navbar-nav">
      <div class="search_menu pr-3">
        <%= search_form_for @search, url: search_articles_path ,html: { method: :post } do |f| %>
        <%= f.select( :sorts, { '並び替え': 'id desc', '投稿の古い順': 'updated_at asc', '投稿の新しい順': 'updated_at desc', 'いいね!の多い順': 'favorites_count desc', 'コメントの多い順': 'comments_count desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} )%>
        <% end %>
      </div>
        <div class="px-1"><%= link_to '日本株式', articles_path(q: { categories_name_cont: '日本株式' }), class: 'btn btn-secondary'%></div>
        <div class="px-1"><%= link_to '外国株式', articles_path(q: { categories_name_cont: '外国株式' }), class: 'btn btn-secondary'%></div>
        <div class="px-1"><%= link_to '暗号資産', articles_path(q: { categories_name_cont: '暗号資産' }), class: 'btn btn-secondary'%></div>
    </div>
  </div>
</nav>

  <div class="row">
     <% @search_articles.each do |article| %>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
             <%= link_to article_path(article) do %>
             <%= attachment_image_tag article, :image,:fill, 338,230, fallback: "no_image.png", class:"rounded"; %>
             <%= image_tag('') %>
          <h5 class="card-title">
             <%= article.title.truncate(15) %>
          </h5>
             <% end %>
          <p class="card-text">
             <%= article.body.truncate(75) %>
          </p>

            <div class="card-footer">
             <%= link_to user_path(article.user) do %>
                 <%= attachment_image_tag article.user, :profile_image, fallback: "no_image_icon.jpg", size:'50x50', class:"mt-3 rounded-circle";%>
                 <%= article.user.nickname %>
             <% end %>
            <div class="row col-lg-6">
               <div>
                 <%= link_to article_path(article.id) do %>
                 <i class="far fa-comment"><%= article.comments.count%></i>
                 <% end %>
               </div>
               <div id="favorites_buttons_<%= article.id %>">
                  <%= render "favorites/favorite", article: article %>
               </div>
            </div>
          </div>

      </div>
    </div>
    <%end%>
  </div>

<%= paginate @search_articles %>
</div>