<div class='container-fluid p-5'>
  <div class='row'>
    <div class="ol-md-9 col-lg-9 px-5 px-sm-0 mx-auto">

       <%= form_with model: @article, url:'/articles', local:true do |f| %>
          <% if @article.errors.any? %>
             <% @article.errors.full_messages.each do |message| %>
               <div style="color:red;"><%= message %></div>
             <% end %>
          <% end %>
             <h3>記事を投稿しよう！</h3>
               <hr>
                  <p>イメージ画像</p>
                    <div class="image_wrapper">
                       <div class="item_image_btn">
                          <%= f.attachment_field :image, id: "file" %>
                       </div>
                       <div id="img_field" onClick="$('#file').click()" >
                          <p>画像を選択してください</p>
                       </div>
                    </div>
                    <div>
                        <p>カテゴリー</p>
                        <%= f.collection_select :category_ids, Category.all, :id, :name, :include_blank => "カテゴリを選択してください" %>
                    </div>

                    <div class="form-group">
                        <p>タイトル</p>
                        <%= f.text_field :title,size: "20x10",class: "form-control" %>
                        <p>内容</p>
                        <%= f.text_area :body,size: "30x20", class:"form-control" %>
                    </div>
                        <br>
                        <%= f.submit "      投稿する     ", class:"btn btn-primary"%>
       <% end %>
    </div>
  </div>
</div>