<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-12">
  
    <div class="d-flex flex-wrap ">
  <!-- 誰が -->
  <div class="w-100 my-box border p-4">
  <%= link_to user_path(visitor) do %>
    <%= attachment_image_tag visitor, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image_icon_min.png", class: "rounded-circle" %>
    <%= visitor.nickname %>
  <% end %>
  <a>さんが</a>
  <!-- 何した -->
  <% case notification.action %>
      <% when 'follow' then %>
        <%= "あなたをフォローしました" %>
      <% when 'favorite' then %>
        <%= link_to 'あなたの投稿', notification.article, style: "font-weight: bold;" %>
        <%= "にいいねしました" %>
      <% when 'comment' then %>
        <% if notification.article.user_id == visited.id %>
          <%= link_to "あなたの投稿", notification.article, style: "font-weight: bold;" %>
          <%= "にコメントしました" %>
          <%= notification.comment.body %>
        <% else %>
          <%= link_to article_path(notification.article) do %>
          <%= attachment_image_tag visitor, :profile_image, :fill, 40, 40, fallback: "no_image_icon_min.png", size:'5x5', class: "rounded-circle";%>
          <%= notification.article.user.nickname + 'さんの投稿' %>
          <% end %>
          <%= "にコメントしました" %>
          <%= notification.comment.body %>
        <% end %>
    <% end %>
    <%= time_ago_in_words(notification.created_at).upcase %>前
    </div>
   </div>
  </div>