<div class="container-profile bg-light border p-2">
 <div class="columns is-multiline">
  <div class="row">
     <div class="col-md-3"></div>
     <div class="col-md-8">
    <% users.each do |user| %>
       <div class="w-100 my-box border p-4">
        <%= link_to  user_path(user), class: "user_#{user.id}" do%>
        <%= attachment_image_tag user, :profile_image, :fill, 90, 90, fallback: "no-image-icon.jpg",class:"rounded-circle";%>
        <h2><%= user.nickname %></h2>
        <% end %>
        <div class="mt-auto">
        <%= link_to user_followings_path(@user) do %>
        フォロー中: <%= @user.followings.count %>
        <% end %>
        <%= link_to user_followers_path(@user) do %>
        フォロワー: <%= @user.followers.count %><br />
        <% end %>
          
          <% if current_user != user %>
            <% if current_user.following?(user) %>
              <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "btn btn-outline-secondary mt-3" %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-outline-secondary mt-3" %>
            <% end %>
          <% end %>
      </div>
    <% end %>
   </div>
  </div>
 </div>
</div>