<div class="container-profile bg-light border p-2">
 <div class="columns is-multiline">
  <div class="row">
   <div class="col-md-4"></div>
  <div class="col-md-3">
  <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image_icon.jpg",size:'140x140', class:"rounded-circle"; %>
  <h1><%= @user.nickname %></h1>
  <%= link_to user_followings_path(@user) do %>
　<%= @user.followings.count %>フォロー
  <% end %>
  <%= link_to user_followers_path(@user) do %>
  <%= @user.followers.count %>フォロワー<br />
  <% end %>


         <% if @user.id == current_user.id %>
                       <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-secondary md-6" %>
         <% end %>

  　      <% if current_user != @user %>

         <% if current_user.following?(@user) %>
         <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete,class: "btn btn-outline-secondary mt-3" %>
         <% else %>
         <%= link_to "フォローする", user_relationships_path(@user.id), method: :post,class: "btn btn-outline-secondary mt-3" %>
         <% end %>
         <% end %>
         </div>
     </div>
   </div>
  </div>


<div class="container-fluid bg-light py-4">
 <div class="columns is-multiline">
  <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8">

      <div class="d-flex ustify-content-around flex-wrap">
        <% @articles.each do |article| %>
          <div class="my-box w-50 border">
            <%= attachment_image_tag article, :image, fallback: "no_image.jpg", size:'463x300' %>
            <%= image_tag('') %>
           <div class = col-12>
            <p><%= article.title %></p><br />
            </div>
           <div class = col-6>
            <%= link_to "      詳細      ", article_path(article), class: "btn btn-outline-secondary" %><br />
            <p><%= link_to "#{article.comments.count} コメント", article_path(article.id) %></p>
            <div id="favorites_buttons_<%= article.id %>">
                      <%= render "favorites/favorite", article: article %>
          </div>
              </div>
          </div>
        <% end %>
      </div>

     </div>
   </div>
  </div>
  <%= paginate @articles %>
</div>