<div class="aaa p-5">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-4"></div>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="card p-5">
<div class="text-center">
 <h2>ログイン</h2>
</div>
  <div class="actions text-center">
    <%= link_to "Googleアカウントでログイン", user_google_oauth2_omniauth_authorize_path, class:'fab fa-google-plus btn btn-primary' %><br />
  </div>
  <br>
  <h5>メールアドレスでログイン</h5>
  <div class="field">
    <font size="2"><%= f.label :'メールアドレスを入力してください'  %></font><br />
    <%= f.email_field :email,:size=>"30", autofocus: true, autocomplete: "email",:placeholder => "email@invester.com" %>
  </div>

  <div class="field">
     <font size="2"><%= f.label :'パスワードを入力してください' %></font><br />
    <%= f.password_field :password,:size=>"30", autocomplete: "current-password",:placeholder => "6文字以上の半角英数字" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
   <% end %>

  <div class="actions text-center">
    <%= f.submit "             ログイン            ", class:'btn btn-primary'  %>
  </div>
  <% end %>
<div class="col-md-9">
<%= render "devise/shared/links" %>
</div>

      </div>
    </div>
  </div>
</div>