<!DOCTYPE html>
<html>
  <head>
    <title>Invester.Com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
　　<body>
  <header>
    <div class='fixed-top'>
    <nav class="navbar navbar-expand-lg navbar-dark p-3" style="background-color:#2F4F4F;">
    <div class="container">
      <a class="navbar-brand" href="/"><h3>Invester.com</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <%= search_form_for @search, url:articles_path do |f| %>
     <div class="input-group mb-6 px-2">
            <%= f.search_field :title_or_body_or_categories_name_cont, autofocus: true, class:"form-control", id:"inputName", placeholder:"キーワードで検索"%>
          <div class="input-group-append">
             <%= f.button :type => "submit", style: 'border-style: none;' do %>
             <i class='fas fa-search'></i>
             <% end %>
          </div>
     </div>
    <% end %>

<!--<table>-->
<!--<tr>-->
<!--<th>タイトル <div class="clickToolTip">?</div></th>-->
<!--<td><input type="text" name="title"></td>-->
<!--</tr>-->
<!--</table>-->
 <!--ツールチップで表示させる内容 -->
<!--<p id="note1" class="toolTip invisible">"タイトル"の説明</p>-->

      <li class="nav-item px-3" data-toggle="tooltip" title="みんなの投稿記事をみてみよう！">
        <%= link_to articles_path, method: :get do %>
        <i class="far fa-newspaper fa-2x" style="color:gainsboro;"></i>
        <% end %>
      </li>
      <li class="nav-item px-3" data-toggle="tooltip" title="記事を投稿しよう！">
        <%= link_to new_article_path, method: :get do %>
        <i class="fas fa-pencil-alt fa-2x" style="color:gainsboro;"></i>
      </li>
    <% end %>
    <script>$('[data-toggle="tooltip"]').tooltip({ html: true, trigger: 'hover' })</script>

<!--<li class="nav-item px-3 notification_button">-->
<!--   <%#= render "layouts/notification_button", unchecked_notifications: unchecked_notifications %>-->
<!--</li>-->

      <li class="nav-item px-3">
         <div class="menu-featured-categories-container">
           <div id="menu-featured-categories">
             <%= link_to check_notifications_path, remote: true, class: "menu-item-has-children" do %>
             <!--<i class="far fa-bell fa-2x" style="color:gainsboro;"></i>-->
             <%= render "layouts/notification_button", unchecked_notifications: unchecked_notifications %>
        　<% end %>
      </div>
      </div>
      </li>
      <li class="dropdown px-3">
        <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="caret">
             <i class="fas fa-smile-wink fa-2x" style="color:gainsboro;"></i>
          </span>
        </div>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><font size="2"><%= link_to "マイページ", user_path(current_user.id), method: :get %></font></li>
            <li class="dropdown-item"><font size="2"><%= link_to "ブックマーク一覧", bookmarks_articles_path, method: :get %></font></li>
            <li class="dropdown-item"><font size="2"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></font></li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-item"><font size="2"><%= link_to "お問い合わせ", new_inquire_path, method: :get %></font></li>
            <li role="separator" class="divider"></li>
          </ul>
      </li>

    <% else %>
      <li class="nav-item px-2"><%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary" %></li>
      <li class="nav-item px-2"><%= link_to "ログイン", new_user_session_path, class: "btn btn-secondary" %></li>
      <li class="nav-item px-2"><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-secondary" %></li>
    <% end %>
     </ul>


          </div>
       </div>
     </nav>
   </div>
</header>

    <%= yield %>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      loop: true,
      speed: 2000,
      autoplay: {
        delay: 3000,
        disableOnInteraction: true
      },
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>
  </body>
  <div class='fixed-bottom'>
  <div class="footer" style="background-color:#2F4F4F;">
    <div class="container p-3">
    </div>
  </div>
  </div>
</html>