<!DOCTYPE html>
<html>
  <head>
    <title>Invester.Com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class='fixed-top'>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e3f2fd;">
    <div class="container">
      <a class="navbar-brand" href="/"><span>インベスター.com</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">

      <%= search_form_for @search, url:articles_path do |f| %>
     <div class="input-group mb-6 px-2">
            <%= f.search_field :title_cont, autofocus: true, class:"form-control", id:"inputName", placeholder:"キーワードで検索"%>
          <div class="input-group-append">
             <%= f.button :type => "submit", style: 'border-style: none;' do %>
             <i class='fas fa-search'></i>
             <% end %>
          </div>
     </div>
    <% end %>

    <% if user_signed_in? %>
      <li class="nav-item px-2"><%= link_to "", new_article_path,class: "fas fa-pencil-alt fa-2x" %></li>
      <li class="nav-item px-2"><%= link_to "", notifications_path,class: "far fa-bell fa-2x" %></li>
      <li class="dropdown px-2">
        <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="caret">
             <i class="fas fa-smile-wink fa-2x smile-wink-red"></i>
          </span>
        </div>
          <ul class="dropdown-menu">
            <li class="text-center"><%= link_to "マイページ", user_path(current_user.id) %></li>
            <li class="text-center"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li class="text-center"><%= link_to "ヘルプ", inquires_path %></li>
            <li role="separator" class="divider"></li>
          </ul>
      </li>
    <% else %>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
     </ul>


          </div>
       </div>
     </nav>
   </div>
</header>


  <body>
    <%= yield %>
  </body>
</html>